.home-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.channel-list {
  width: 240px;
  background-color: #2f3136;
  padding: 1rem;
  box-sizing: border-box;
}

.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #36393f;
}

.chat-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 1rem;
    border-bottom: 1px solid #202225;
}

.chat-messages {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

.chat-input {
    padding: 1rem;
    display: flex;
}

.chat-input input {
    flex-grow: 1;
    margin-right: 1rem;
}

.user-list {
  width: 240px;
  background-color: #2f3136;
  padding: 1rem;
  box-sizing: border-box;
}
